.body {
    padding: 4rem 10rem;
}

.container {
    padding: 4rem 3rem;
}

button.button-main {
    background-color: #FFB72A;
    border-radius: 15px;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    padding: 10px;
    border: none;
    height: 8vh;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h2.title {
    font-weight: 400;
    font-size: 32px;
}